
# set -a; source .env; set +a

NODEBB_URL="http://localhost:4567"
# NODEBB_PORT="4567"
NODEBB_SECRET=<NODEBB-SECRET>
NODEBB_DB_URI="mongodb+srv://nodebb:********@cluster0.*******.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
NODEBB_DB_NAME="nodebb"

AWS_ACCESS_KEY_ID=<Access-Key-ID>
AWS_SECRET_ACCESS_KEY=<Secret-Access-Key>
AWS_DEFAULT_REGION=auto

S3_UPLOADS_BUCKET=<BUCKET-NAME>
S3_UPLOADS_ENDPOINT=https://********.r2.cloudflarestorage.com
S3_UPLOADS_HOST=https://pub-********.r2.dev
S3_UPLOADS_PATH=/uploads
